<div class="container" *ngIf="!recibo">
    <h2>Adiantamento de saldo por motivo de compra</h2>
    <div class="row">
        <div class="col border-dark border-top border-left border-bottom rounded-left">
            <h4>Consignante</h4>
            <b>Código do contrato: </b>{{forn.maqplan_fornecedor_id}}<br />
            <b>Nome do consignante: </b>{{forn.fornecedor_razao_social}}<br />
            <b>CPF: </b>{{forn.fornecedor_cpf_cnpj | CPFCNPJ}}<br />
        </div>
        <div class="col border-dark border-top border-right border-bottom rounded-right">
            <h4>Saldo resumido</h4>
            <b>Saldo disponível para saque: </b>{{forn.saldo_liberado | currency:'BRL'}}<br />
            <b>Saldo bloqueado: </b>{{forn.saldo_bloqueado | currency:'BRL'}}<br />
            <b>Saldo para uso: </b> {{forn.saldo_liberado + forn.saldo_bloqueado | currency:'BRL'}}
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col border border-dark rounded-left">
            <form [formGroup]="formCompraProdutos" (ngSubmit)="submitForm()" class="form form-register">
                <h4>Dados da utilização do crédito</h4>
                <b>Valor a ser utilizado: </b><input type="number" class="form-control" formControlName="valor"
                    placeholder="Entre com o valor">
                <b>Nota fiscal: </b><input type="text" class="form-control" formControlName="nota"
                    placeholder="Entre com a nota fiscal">
                <div class="form-field mt-3 mb-3" align="center">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="formCompraProdutos.invalid">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="message.msg" [ngClass]="message.erro ? 'alert-danger' : 'alert-success'" class="alert mt-3" role="alert">
    {{message.msg}} <a *ngIf="pdf" href="{{pdf}}" target="_blank"><i class="far fa-sticky-note"></i></a>
</div>

<div class="container" *ngIf="recibo">
    <h2 class="mb-3">Recibo de adiantamento por motivo de compra</h2>
    <div class="mb-5">
        Eu, <b>{{forn.fornecedor_razao_social}}</b>, inscrito(a) no CPF sob o número
        <b>{{forn.fornecedor_cpf_cnpj | CPFCNPJ}}</b> e no RG número
        <b>{{forn.fornecedor_rg_num}}/{{forn.fornecedor_rg_uf_cod}}</b>,
        recebi da PR MAIS COMÉRCIO VAREJISTA DE ARTIGOS NOVOS E USADOS LTDA-ME, pessoa jurídica de direito privado,
        CNPJ
        11.832.781/0001-05, situada na SHCS CLS 408 Bloco C Loja 34/29, Asa Sul, Brasília-DF, o valor de
        <b>{{formCompraProdutos.value.valor | currency:'BRL'}}</b>
        referentes à compra de produtos conforme nota fiscal <b>{{formCompraProdutos.value.nota}}</b> o qual foi abatido
        de meus créditos
        provenientes
        das vendas em consignação.
    </div>
    <div class="row">
        <ng-signature-pad doneButtonText="Salvar" clearButtonText="Limpar" width="450" format="base64"
            (done)="showImage($event)" *ngIf="!assinado"></ng-signature-pad>
        <img [src]="signatureImage" *ngIf="assinado" />
    </div>
    <div class="row">
        ______________________________________________________<br />
        CONSIGNANTE
    </div>
    <p align="center" *ngIf="!finalizado"><button type="button" [disabled]="loading" (click)="submitAssinatura();"
            class="btn btn-primary mt-5" *ngIf="assinado"><span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
            Confirmar assinatura</button> <button *ngIf="assinado" type="button"
            (click)="recibo = false; assinado = false" class="btn btn-primary mt-5 mx-2"
            [disabled]="loading">Cancelar</button></p>
</div>
