<div class="col-sm-12" align="center">
    <div class="col-sm-8">
        <h2 class="mb-3" align="center">Contratos pendentes</h2>
        <form>
            <div class="form-group" align="left">
                <label for="codigoCliente">Código do cliente</label>
                <input type="number" class="form-control" id="codigoCliente"
                    placeholder="Entre com o código do cliente">
            </div>
            <div class="form-group" align="left">
                <label for="CPF">CPF</label>
                <input type="text" class="form-control" id="cpf" placeholder="Entre com o CPF">
            </div>
            <button type="submit" class="btn btn-primary" (click)="tabela=true">Pesquisar</button>
        </form>
    </div>
    <div *ngIf="tabela">
        <table class="col-sm-8 mt-5">
            <thead class="table table-dark ">
                <tr>
                    <th scope="col">Loja</th>
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Asa Norte</th>
                    <td><a href="/assinatura/Dong Silver">Dong Silver</a></td>
                </tr>
                <tr>
                    <th scope="row">Asa Norte</th>
                    <td><a href="/assinatura/James Sweetchucky">James Sweetchucky</a></td>
                </tr>
                <tr>
                    <th scope="row">Asa Sul</th>
                    <td><a href="/assinatura/Lourdes Maria">Lourdes Maria</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>