<div class="col-sm-12" align="center">
    <div class="col-sm-8">
        <h2 class="mb-3" align="center">{{titulo}}</h2>
        <form [formGroup]="formForn" (ngSubmit)="submitForm()" class="form form-register" novalidate>
            <div class="form-field" align="left">
                <label for="codigo
                    ">Código do cliente</label>
                <input type="number" class="form-control" formControlName="codigoCliente"
                    placeholder="Entre com o código do cliente">
            </div>
            <div class="form-field" align="left">
                <label for="CPF">CPF</label>
                <input type="text" class="form-control" formControlName="cpf" placeholder="Entre com o CPF">
            </div>
            <div class="form-field mt-3" align="center">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </form>
    </div>
    <div *ngIf="forn.length>0">
        <table class="col-sm-8 mt-5">
            <thead class="table table-dark ">
                <tr>
                    <th scope="col">Loja</th>
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of forn">
                    <th scope="row">{{f.loja_razao_social}}</th>
                    <td><a *ngIf="rota!='extrato'"
                            routerLink="/{{rota}}/{{f.maqplan_fornecedor_id}}">{{f.fornecedor_razao_social}}</a>
                        <a *ngIf="rota=='extrato'"
                            routerLink="/{{rota}}/{{f.id}}">{{f.fornecedor_razao_social}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
