﻿<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUserTCGED">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fa fa-home"></i> Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-check-circle"></i> Contratos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/contrato"><i class="fa fa-cart-plus"></i> Assinar contratos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p style="color:darkgray">
        2019 - Todos os direitos reservados
        <span *ngIf="currentUserTCGED"> - <a routerLink="/profile" style="color:darkgray">{{currentUserTCGED?.nome}} {{currentUserTCGED?.sobrenome}}</a></span>
    </p>
</div>
