<div class="container" *ngIf="!recibo">
  <h2>Contrato<span *ngIf="pdf"> gerado, clique para visualizar: <a href="{{pdf}}" target="_blank"><i class="far fa-envelope"></i></a></span></h2>

  <div class="row mt-5 mb-5">
    <div class="col border border-dark rounded-left">
      <form [formGroup]="formContrato" (ngSubmit)="submitForm()" class="form form-register">
        <h4>Digite os dados do contrato</h4>
        <ng-container *ngFor="let item of campos">
          <b>{{item.labelCampo}}: </b><input type="{{item.tipoCampo}}" class="form-control"
            formControlName="{{item.nomeCampo}}">
        </ng-container>
        <div class="form-field mt-3 mb-3" align="center">
          <button type="submit" class="btn btn-primary" [disabled]="formContrato.invalid">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="recibo">
  <h2 class="mb-3">Contrato nº {{contrato.id}}</h2>
  <div class="mb-5" [innerHTML]="contrato.view">
  </div>
  <div class="row">
    <ng-signature-pad doneButtonText="Salvar" clearButtonText="Limpar" width="450" format="base64"
      (done)="showImage1($event)" *ngIf="!assinado1"></ng-signature-pad>
    <img [src]="signatureImage1" *ngIf="assinado1" />
  </div>
  <div class="row">
    ______________________________________________________<br />
    SIGNATÁRIO
  </div>
  <div class="row">
      <ng-signature-pad doneButtonText="Salvar" clearButtonText="Limpar" width="450" format="base64"
        (done)="showImage2($event)" *ngIf="!assinado2"></ng-signature-pad>
      <img [src]="signatureImage2" *ngIf="assinado2" />
    </div>
    <div class="row">
      ______________________________________________________<br />
      TESTEMUNHA
    </div>
  <p align="center" *ngIf="!finalizado"><button type="button" [disabled]="loading" (click)="submitAssinatura();"
      class="btn btn-primary mt-5" *ngIf="assinado1 && assinado2"><span *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"></span>
      Confirmar assinatura</button> <button *ngIf="assinado1 && assinado2" type="button" (click)="recibo = false; assinado2 = false"
      class="btn btn-primary mt-5 mx-2" [disabled]="loading">Cancelar</button></p>
</div>
