<div class="col-sm-12" align="center">
    <div class="col-sm-8">
        <h2 class="mb-3" align="center">Editar perfil - {{currentUserTCGED?.apelido}}</h2>
        <div *ngIf="message" class="alert alert-danger mt-3" role="alert">
            {{message}}
        </div>
        <div *ngIf="messageOk" class="alert alert-success mt-3" role="alert">
            {{messageOk}}
        </div>
        <form [formGroup]="formPerfil" (ngSubmit)="submitForm()" class="form form-register">
            <div class="form-field" align="left">
                <label for="email
                        ">E-mail</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Digite seu e-mail">
            </div>
            <div class="form-field" align="left">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" formControlName="senha" placeholder="Digite a nova senha">
            </div>
            <div class="form-field" align="left">
                <label for="senha2">Confirmação de senha</label>
                <input type="password" class="form-control" formControlName="senha2" placeholder="Confirme a senha">
            </div>
            <div class="form-field" align="left">
                <label for="foto">Envie sua foto</label>
                <input type="file" class="form-control" formControlName="foto" placeholder="Envie sua foto"
                (change)="fileInput($event.target.files)">
            </div>
            <div class="form-field mt-3" align="center">
                <button type="submit" *ngIf="assinado" class="btn btn-primary">Salvar perfil</button>
                <button type="submit" *ngIf="assinado" (click)="assinado=false; signatureImage=''"
                    class="btn btn-primary mx-2">Cancelar</button>
            </div>
        </form>
        <div class="form-field">
            <label for="foto" *ngIf="!signatureImage">Assine aqui</label>
            <ng-signature-pad doneButtonText="Confirmar assinatura" clearButtonText="Limpar" width="450" format="base64"
                (done)="showImage($event)" *ngIf="!assinado"></ng-signature-pad>
            <img [src]="signatureImage" *ngIf="signatureImage" />
        </div>
    </div>
</div>
