<div class="container" *ngIf="!recibo">
    <h2>Solicitação de saque</h2>
    <div class="row">
        <div class="col border-dark border-top border-left border-bottom rounded-left">
            <h4>Consignante</h4>
            <b>Código do contrato: </b>{{forn.maqplan_fornecedor_id}}<br />
            <b>Nome do consignante: </b>{{forn.fornecedor_razao_social}}<br />
            <b>CPF: </b>{{forn.fornecedor_cpf_cnpj | CPFCNPJ}}
        </div>
        <div class="col border-dark border-top border-right border-bottom rounded-right">
            <h4>Saldo resumido</h4>
            <p><b>Saldo disponível para saque: </b>{{forn.saldo_liberado + forn.saldo_bloqueado | currency:'BRL'}}</p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col border border-dark rounded-left">
            <form [formGroup]="formSaque" (ngSubmit)="submitForm()" class="form form-register">
                <h4>Dados da utilização do crédito</h4>
                <b>Dinheiro: </b><input type="number" class="form-control" formControlName="valorD"
                    placeholder="Entre com o valor do dinheiro">
                <b>Cheque: </b><input type="number" class="form-control" formControlName="valorC"
                    placeholder="Entre com o valor do cheque">
                <b>Transferência:</b><br /> <small>({{forn.banco_nome}} - Ag: {{forn.banco_ag}} CC:
                    {{forn.banco_cc}})</small>
                <input type="number" class="form-control" formControlName="valorT"
                    placeholder="Entre com o valor da Transferência">
                <div class="form-field mt-3 mb-3" align="center">
                    <button type="submit" class="btn btn-primary" [disabled]="!validForm()">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="message.msg" [ngClass]="message.erro ? 'alert-danger' : 'alert-success'" class="alert mt-3" role="alert">
    {{message.msg}} <a *ngIf="pdf" href="{{pdf}}" target="_blank"><i class="far fa-sticky-note"></i></a>
</div>

<div class="container" *ngIf="recibo">
    <h2 class="mb-3">Recibo de solicitação de saque</h2>
    <div class="mb-5">
        Eu, <b>{{forn.fornecedor_razao_social}}</b>, inscrito(a) no CPF sob o número
        <b>{{forn.fornecedor_cpf_cnpj | CPFCNPJ}}</b> e no RG número
        <b>{{forn.fornecedor_rg_num}}/{{forn.fornecedor_rg_uf_cod}}</b>,
        recebi da PR MAIS COMÉRCIO VAREJISTA DE ARTIGOS NOVOS E USADOS LTDA-ME, pessoa jurídica de direito privado, CNPJ
        11.832.781/0001-05, situada na SHCS CLS 408 Bloco C Loja 34/29, Asa Sul, Brasília-DF, o valor de
        <span *ngIf="formSaque.value.valorD>0"><b>{{formSaque.value.valorD | currency:'BRL'}}</b> em dinheiro, </span>
        <span *ngIf="formSaque.value.valorC>0"><b>{{formSaque.value.valorC | currency:'BRL'}}</b> em cheque, </span>
        <span *ngIf="formSaque.value.valorT>0"><b>{{formSaque.value.valorT | currency:'BRL'}}</b> em transferência
            bancária, </span>
        referentes à compra de produtos conforme nota fiscal o qual foi abatido de meus créditos
        provenientes das vendas em consignação.
    </div>
    <div class="row">
        <ng-signature-pad doneButtonText="Salvar" clearButtonText="Limpar" width="450" format="base64"
            (done)="showImage($event)" *ngIf="!assinado"></ng-signature-pad>
        <img [src]="signatureImage" *ngIf="assinado" />
    </div>
    <div class="row">
        ______________________________________________________<br />
        CONSIGNANTE
    </div>
    <p align="center" *ngIf="!finalizado"><button type="button" [disabled]="loading" (click)="submitAssinatura()"
            class="btn btn-primary mt-5" *ngIf="assinado"><span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
            Confirmar assinatura</button> <button *ngIf="assinado" type="button" [disabled]="loading"
            (click)="recibo = false; assinado = false" class="btn btn-primary mt-5 mx-2">Cancelar</button></p>
</div>
