<div class="container">
  <h2>Extrato de movimentações</h2>
  <div *ngIf="message.msg" [ngClass]="message.erro ? 'alert-danger' : 'alert-success'" class="alert mt-3" role="alert">
    {{message.msg}} <a *ngIf="pdf" href="{{pdf}}" target="_blank"><i class="far fa-sticky-note"></i></a>
  </div>
  <div *ngIf="forn.length>0" class="row">
    <div class="col border border-dark rounded">
      <h4>Consignante</h4>
      <b>Código do contrato: </b>{{forn[0].id}}<br />
      <b>Nome do consignante: </b>{{forn[0].fornecedor_razao_social}}<br />
      <b>CPF: </b>{{forn[0].fornecedor_cpf_cnpj | CPFCNPJ}}
    </div>
  </div>
  <div *ngIf="forn.length>0" class="col shadow-sm p-3 mb-3 mt-3 bg-white rounded">
    <h4>Extrato <a (click)="enviarExtrato()"><i class="far fa-envelope"></i></a></h4>
    <div class="row">
      <div class="col-sm-3" align="center"><b>Loja</b></div>
      <div class="col-sm-2" align="center"><b>Movimento</b></div>
      <div class="col-sm-5" align="center"><b>Descrição</b></div>
      <div class="col-sm-2" align="center"><b>Valor</b></div>
      <ng-container *ngFor="let f of forn">
        <div class="col-sm-3 border-dark border-right">{{f.loja_razao_social}}</div>
        <div class="col-sm-2 border-dark border-right">{{f.updated_at | slice:0:10}}</div>
        <div class="col-sm-5 border-dark border-right">{{f.movimento_motivo_name}}
          <ng-container *ngIf="f.recibo_id"> (<a
              href="https://prbko.lpbc.com.br/storage/upload/recibos/{{f.imagem_recibo}}" target="_blank">Recibo
              {{f.recibo_id}}</a>)
            <a (click)="enviarRecibo(f.recibo_id)"><i class="far fa-envelope"></i></a></ng-container>
        </div>
        <div class="col-sm-2" align="right" [ngStyle]="{'color': f.valor_extrato<0 ? 'red' : 'black'}">
          {{f.valor_extrato | currency:'BRL'}}</div>
      </ng-container>
    </div>
  </div>
  <div align="center"><button (click)="this._location.back();">Voltar</button></div>
</div>
