﻿<h1>Bem vindo {{currentUserTCGED.nome}} {{currentUserTCGED.sobrenome}}!</h1>
<!-- <h3>Usuários registrados:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.nome}} {{user.sobrenome}} ({{user.apelido}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Excluir</a>
    </li>
</ul> -->
